@tailwind base;
@tailwind components;
@tailwind utilities;

/*! Reusable CSS */
*{
    scroll-behavior: smooth;
}
.title-color{
    color: #333333;
}
.desc-color{
    color: #666666;
}
.btn-color{
    background-color: #E2BFB3;
    border:2px solid #E2BFB3;
}
.btn-color:hover {
    background-color: transparent !important;
    border:2px solid #E2BFB3;
}
.primary-section{
    background-color: #FEECE2;
}
.secondary-section{
    background-color: #F7DED0;
}
.border-stroke{
    border: 5px solid #B7B7B7;
}
.input-border-stroke{
    border: 2px solid #d1d1d1;
}
/* .swiper-pagination{
    bottom:0px !important;
} */
.swiper-pagination-bullet {
    width: 8px; 
    height: 8px; 
    background-color: #3a3a3a; 
    opacity: 0.5; 
}

.swiper-pagination-bullet-active {
    opacity: 1; 
}
.image_upload{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.4);
    width:6rem;
    height:6rem;
    border-radius: 100%;
    top:11%;
    left:50%;
    transform: translate(-50%, -50%);
    display: none ;
    transition: all 0.4s ease;
}
.profile_image_container:hover .image_upload{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.profile_image{
    border: 4px solid slategrey;
}
